
.hs-home,.hs-sidebar,.hs-footer,.hs-return { display:none !important; }
.hs-home-active:not(.hs-browse) ._3x1HklzyDs4TEjACrRO2tB,.hs-home-active ._3vCzSrrXZzZjVJFZNg9SGu>* { visibility:visible !important; }
.hs-mounted.hs-hide-news ._17uEBe5Ri8TMsnfELvs8-N { display:block !important; }
