._39oUCO1OuizVPwcnnv88no { height:44px !important; }
._3Z3ohQ8-1NKnCZkbS6fvy { position:relative !important; left:var(--hs-sidebar-w); top:auto !important; height:40px !important; }
._7AlhCx3XGzBeIrQaCneUD { height:40px !important; }
.hs-top-search { display:none !important; }
